
#ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.iconssocial {
    list-style: none;
    margin: 0 30px;
}


.iconssocial a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background-color: rgb(29, 29, 29);
    font-size: 30px;
    color: #666;
    transition: -5s;
    /* border-radius: 25px; */
}

.iconssocial a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #028957;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.iconssocial a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #028957;
}

.iconssocial a:hover {
    color: #028957;
    box-shadow: 0 0 5px #028957;
    text-shadow: 0 0 5px #028957;
}

@media only screen and (max-width:600px)
{
    .iconssocial{
        margin: 0 10px;
    }

    .iconssocial a {
        width: 50px;
        height: 50px;
    }

}